@{
    ViewData["Title"] = "Mapa";
}

<h4>Mapa de imóveis</h4>

<head>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>
<body>
    <div id="map" style="width: 500px; height: 100%"></div>
</body>
